@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #111827;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.orbit {
  position: absolute;
  top: -250px; 
  left: 50%; 
  right: 50%; 
  animation: orbit 12s linear infinite; 
  /* transform-origin:  200px 420px;  */
  transform-origin:  150px 250px; 
}



.animate-spin {
  animation: spin 12s linear infinite;
}


@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.glow-container {
  position: relative;
  overflow: hidden;
}

.glow-container::before {
  content: '';
  position: absolute;
  top: var(--mouse-y, 0); /* Inicialmente 0 */
  left: var(--mouse-x, 0); /* Inicialmente 0 */
  width: 2500px;
  height: 2500px;
  background: radial-gradient(circle, rgba(52, 123, 255, 0.5) 0%, transparent 60%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: top 0.1s, left 0.1s, opacity 0.3s;
  opacity: 0; /* Inicialmente oculto */
}

.glow-active .glow-container::before {
  opacity: 1; /* Visível quando a classe glow-active está presente */
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.text-focus-in-demorado {
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}



 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
