@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #111827;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.orbit {
  position: absolute;
  top: -250px; 
  left: 50%; 
  right: 50%; 
  animation: orbit 12s linear infinite; 
  /* transform-origin:  200px 420px;  */
  transform-origin:  150px 250px; 
}



.animate-spin {
  animation: spin 12s linear infinite;
}


@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.glow-container {
  position: relative;
  overflow: hidden;
}

.glow-container::before {
  content: '';
  position: absolute;
  top: var(--mouse-y, 0); /* Inicialmente 0 */
  left: var(--mouse-x, 0); /* Inicialmente 0 */
  width: 2500px;
  height: 2500px;
  background: radial-gradient(circle, rgba(52, 123, 255, 0.5) 0%, transparent 60%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: top 0.1s, left 0.1s, opacity 0.3s;
  opacity: 0; /* Inicialmente oculto */
}

.glow-active .glow-container::before {
  opacity: 1; /* Visível quando a classe glow-active está presente */
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.text-focus-in-demorado {
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.particles {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.noise {
  z-index: 1;
  opacity: 10%;
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: .17;
  background-image: url('Assets/giphy\ \(1\).webp');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: plus-lighter;
}
.galaxy {
  opacity: 100%;
  width: 100%;
  height: 100%;
  background-image: url('Assets/galayV.gif');
  overflow: hidden;
  z-index: -10px;
  background-position: center;
  background-size: auto;
  pointer-events: none;
  mix-blend-mode: plus-lighter;
}

.carousel {
  overflow-x: hidden; /* Esconde o overflow horizontal */
  white-space: nowrap; /* Evita quebra de linha nos itens */
  width: 100%; /* Ajuste conforme necessário */
  margin: 0 auto; /* Centraliza o carrossel na tela */
  position: relative;
}

.carouselContent {
  display: flex;
  width: fit-content; /* Ajuste conforme necessário */
  animation: scroll 60s linear infinite; /* Animação para rolar o carrossel */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



.bg-white-animated {
  background: linear-gradient(270deg, #fbfbfb, #e8e8e8, #a5d2fd, #b7c4d0);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}
@keyframes AnimationName {
  0%{background-position:0% 88%}
  50%{background-position:100% 13%}
  100%{background-position:0% 88%}
}